.hd{
	height:400px ;
	background-image:url(../IMG/conf.jpeg);
	padding-top: 8px;
	background-size: cover;
	background-position: center;

}

.hd nav ul{ 	
	text-align: right;
}

.hd li a{
	text-decoration: none ;  
	margin-left: 8px; 
	border:1px solid white;
	padding: 10px;
	color: white;
	
}

 .hd nav li{
 	display: inline; 
 	list-style: none;
 	text-align: right;
 	margin-right: 5px;
 }

 .hd h2{
 	margin-top: 90px;
    text-align: center; 	
    color:red;
    font-size: 100px;
 }

 .conflito h1{
   text-align: center;
   font-size: 50px;
 }

 .prim h1{
border: 1px solid black;
 	border-radius: 30px;
 	background:yellow ;
 	padding: 10px 20px;
 	text-align: center;
 	margin: 2px 110px;

 }

 .seg h2{
border: 1px solid black;
 	border-radius: 30px;
 	background:yellow;
 	padding: 10px 20px;
 	text-align: center;
 	margin: 2px 110px;

	padding: 35px;
	text-align: center;
}
 
 .pe{
	background:yellow;
	padding:15px 20px;
	}

.pe a{
	border: 1px solid black;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 30px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 4px black;
	margin-left: 8px;
}

.pe img{
	margin-bottom: -5px;
}
.pe p{
	font-size: 30px;
}

p{
	font-size: 25px;
}
